html,
body {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    height: 100%;
    margin: 0;
}
/*============== Navbar items ==============*/
/*                                          */
/*==========================================*/
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background: #333333;
}

navbar-list>ul{
    float: right;
}

.navbar-item{
    font-size: 28px;
    float: left;
}

.navbar-right{
    float: right;
}
.navbar-item a{
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}

.navbar-right a:hover {
    background-color: #888888;
}

.header{
    color: #FFFFFF;
    padding: 10px 16px;
}

/*=============== Main items ===============*/
/*                                          */
/*==========================================*/

html {
    background-color: #EEEEEE;
    min-height: 100%;
    min-width: 675px;
    position: relative;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 100px 20px;
    min-height: 560px;
}

#wrapper{
    font-weight: normal;
    width: 100%;
    height: 100%;
}

#word-bank {
    text-align: center;
    vertical-align: middle;
    margin: 80px auto 10px auto;
    border: 3px solid #333333;
    background-color: #FEFEFE;
    box-shadow: 0 0 30px #CCCCCC;
    border-radius: 5px;
    height: 100px;
    width: 80%;
}

#word-bank  span {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    font-size: 30px;
}

#timer{
    margin-left: 27.5%;
}

input {
    height: 30px;
    width: 40%;
    font-size: 24px;
    border: 2px solid #333333;
    background-color: #FEFEFE;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #CCCCCC;
}

button{
    background-color: #333333;
    border: 2px solid #333333;
    border-radius: 5px;
    color: #EEEEEE;
    padding: 2px 5px 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
}

/*============== Footer items ==============*/
/*                                          */
/*==========================================*/

footer {
    background-color: #333333;
    color: #EEEEEE;
    width: 100%;
    bottom: 0px;
    position: absolute;
}

.footerText {
    height: 30px;
    line-height: 30px;
    text-align: right;
    padding-right: 25px;
    font-weight: 200;
}

/*=============== 404 items ================*/
/*                                          */
/*==========================================*/

.error-container {
    flex: 1 100%;
    text-align: center;
}

.error-container h2,
.error-container h3 {
    margin: 0;
    font-weight: lighter;
}

.error-container h2 {
    font-size: 96px;
}

.error-container h3 {
    font-size: 32px;
}

/*======= Account/Leaderboard items ========*/
/*                                          */
/*==========================================*/

#column1 {
    float: left;
    width: 25%;
    height: 100%;
    overflow: hidden;
}
#column2 {
    float: left;
    width: 74%;
    min-height: 80vh;
    border-left: #000000 1px solid;
}

.columnWrapper {
    width: 80%;
    margin: 0 auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #DDDDDD;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #DDDDDD;
}

tr:nth-child(odd) {
    background-color: #FFFFFF;
}

.userStats>li:nth-child(odd),
.mostMisspelled>li:nth-child(odd),
.testLogs>li:nth-child(odd){
    background: #CCCCCC;
}

.userStats>li:nth-child(even),
.mostMisspelled>li:nth-child(even),
.testLogs>li:nth-child(even){
    background: #DDDDDD;
}

.rightList {
    float: right;
}

#userProfile {
    padding-left: 2.25%;
}

/*============== Login items ===============*/
/*                                          */
/*==========================================*/

#loginWrapper {
    width: 100%;
    text-align: center;
}

.loginBtn>a {
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
}

.loginInput {
    background-color: #333333;
    border: 2px solid #333333;
    border-radius: 5px;
    color: #EEEEEE;
    padding: 2px 5px 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;

    height: initial;
    width: initial;

    box-shadow: 0px 0px;
}