{{> header}}
<main>
    <div id="wrapper">
        <div id="word-bank">
            <span id="0"></span>
            <span id="1"></span>
            <span id="2"></span>
            <span id="3"></span>
            <span id="4"></span>
            <span id="5"></span>
            <span id="6"></span>
            <span id="7"></span>
            <span id="8"></span>
            <span id="9"></span>
        </div>
        <span><button id="timer"></button></span>
        <input type="text" id="input" spellcheck="off">
        <span><button id ="f5">F5</button></span>
    </div>
    <script>
            let wordlist = [];
            {{#each results}}
                wordlist.push({
                    word_ID: '{{word_ID}}',
                    word: '{{word}}'
                });
            {{/each}}
    </script>
</main>