<header>
    <nav>
        <ul class="navbar-list">
            <li class="navbar-item header">typeTester</li>
            <li class="navbar-item navbar-right"><a href="/profile">My Account</a></li>
            <li class="navbar-item navbar-right"><a href="/leaderboard">Leaderboard</a></li>
            <li class="navbar-item navbar-right"><a href="/">Home</a></li>
        </ul>
    </nav>
</header>