<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>typeTester</title>
    <link rel="stylesheet" href="/css/index.css" media="screen">
</head>
<body>

{{{body}}}

</body>

<script src="/js/array.js"></script>
<script src="/js/index.js"></script>

</html>